.Header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid black;
}

/* NAV */
.Nav {
  display: flex;
  width: 100%;
  height: 100%;
  /* background: #eee; */
  align-items: center;
  justify-content: center;
}

/* NAV LEFT */
.NavLeft {
  display:flex;
  flex-direction:row;
  width:100%;
  padding: 10px;
  /* border:4px red solid; */
}
.NavLeftItem {
  border:4px red solid;
  width:100%;
}
.NavLeft ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border:4px lime solid; */
  display: flex;
  align-items: center;
}
.NavLeft li {
  float: left;
  font-size: 22px;
  text-transform: uppercase;
  /* border:4px lime solid; */
}
.NavLeft a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 10px 0 10px;
}

/* NAV RIGHT */
.NavRight {
  display:flex;
  flex-direction:row-reverse;
  /* border:4px lime solid; */
  width:100%;
}

.NavRight ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border:4px lime solid; */
}
.NavRight li {
  float: left;
  font-size: 22px;
  text-transform: uppercase;
  padding-right: 0px;
  /* border:4px lime solid; */
}
.NavRight a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 20px 0 20px;
}
.NavRightItem {
  border:4px red solid;
}

/* LOGO */
.LogoContainer {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 40px;
  padding: 10px;
  /* background: rgba(0, 0, 0, 0.3); */
}
.Logo {
  display:flex;
  align-items: center;
  /* border:4px lime solid; */
}
.Logo img {
  align: self;
  width: 70px;
}

.LogoText {
  /* border:4px lime solid; */
  padding-left: 16px;
  font-weight: 100;
}

@media (max-width: 350px) {

  .NavLeftMenuCallText {
    display: none;
  }

}

@media (max-width: 768px) {

  .NavLeftMenuText {
    display: none;
  }

  .NavRight {
    display: none;
  }

}

@media (max-width: 992px) {

  .NavRight {
    display: none;
  }

}
