.SideDrawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #3B3B3B;
    padding-top: 80px;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

@media (min-width: 350px) and (max-width: 768px) {

  .SideDrawer {
    width: 70%;
  }

}

@media (min-width: 768px) and (max-width: 992px) {

  .SideDrawer {
    width: 50%;
  }

}

@media (min-width: 992px) {

  .SideDrawer {
    width: 30%;
  }

}

nav {
  height: 100%;
  align-items: center;
}

.Open {
    transform: translateX(0);
    opacity: 1.0;
}

.Close {
    transform: translateX(-100%);
    opacity: 0.0;
}

.closeDrawer {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-top: 1px solid #9E9E9E;
  border-right: 1px solid #9E9E9E;
  border-bottom: 1px solid #9E9E9E;
  border-left: 1px solid #9E9E9E;
}

.closeDrawerX1 {
  width: 100%;
  position: relative;
  top: 30px;
  height: 2px;
  background-color: #9E9E9E;
  transform: rotate(45deg);
}

.closeDrawerX2 {
  width: 100%;
  position: relative;
  top: 27px;
  height: 2px;
  background-color: #9E9E9E;
  transform: rotate(-45deg);
}
