.row {
  margin: 0;
  width: 100%;
}

.bannerImage {
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0; bottom: 0; left: 30px; right: 30px;
}

.content h1 {
  color: white;
  font-size: 4.5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  transform: translateX(-18%);
}

.OrangeLineTL {
  position: relative;
  width: 10%;
  left: 8%;
  height: 2px;
  background-color: orange;
}

.OrangeLineBR {
  position: relative;
  width: 10%;
  left: 46%;
  height: 2px;
  background-color: orange;
}

.enclosure {
  position:relative;
  width: 100%;
}

.arrowDown img {
  position: absolute;
  width: 100px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
}

.footNoteRow {
  border-top: 1px solid black;
  font-size: 0.5em;
  width: 100%;
  height: 60px;
  display: table;
}

.footNoteRowL {
  width: 40%;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  display: table-cell;
}

.footNoteRowM {
  width: 20%;
  display: table-cell;
}

.footNoteRowR {
  width: 40%;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  display: table-cell;
}

.upArrowImage {
  position: absolute;
  right: 0;
  transform: translateY(-80px);
}

@media (max-width: 600px) {

  .arrowDown img {
    display: none;
  }

  .footNoteRowL {
    float: left;
  }

  .footNoteRowR {
    float: left;
  }

  .upArrowImage {
    display: none;
  }

}

@media (max-width: 768px) {
  .content h1 {
    font-size: 1em;
  }

  .arrowDown img {
    width: 70px;
  }

  .upArrowImage {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .content h1 {
    font-size: 2.5em;
  }

  .arrowDown img {
    width: 80px;
  }

  .upArrowImage {
    display: none;
  }
}

/* FLOOR PLANS */

.floorPlans {
  margin-top: 8em;
}

.floorPlans h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

.floorPlans p {
  text-align: center;
}
